.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: left;
  position: relative;
}

.card-content {
  width: 100%;
}

.card a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: inline-block;
  width: 80%;
}

.card i {
  margin-left: 10px;
  display: none;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.card:hover i {
  display: inline-block;
}

#linksContainer {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.category-column {
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  max-width: 800px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.modal-buttons button {
  margin-left: 5px;
}

input[type="text"] {
  width: 650px;
}

/* Add this to your styles.css file */
.modal-content {
  position: relative;
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.button-container button {
  padding: 8px 16px;
  margin-left: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #45a049;
}

.button-container button:focus {
  outline: none;
}

.settings-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #45a049; /* You can change the color as desired */
  border-radius: 50%;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.settings-btn:hover {
  background-color: #45a049; /* You can change the hover color as desired */
}

body {
  margin: 0;
}

.navbar {
  background-color: #45a049;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  position: fixed; /* Set the navbar's position to fixed */
  top: 0; /* Position the navbar at the top of the screen */
  left: 0; /* Align the navbar to the left edge */
  right: 0; /* Extend the navbar to the right edge */
  z-index: 1000; /* Set a high z-index to ensure it's above other elements */
}

.navbar-title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.settings-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 8px;
  z-index: 1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar-title {
  color: #f9f9f9; /* Default color */
  text-decoration: none; /* Remove underline */
}

.navbar-title:hover {
  color: #f9f9f9; /* Color on hover */
}

.navbar-title:active {
  color: #f9f9f9; /* Color on active/clicked state */
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.search-bar input[type="text"] {
  background-color: transparent;
  color: black;
  border: none;
  padding: 5px;
  width: 200px;
}

.search-bar button {
  border: none;
  background-color: transparent;
  color: #45a049;
  cursor: pointer;
  padding: 5px;
}

.search-bar button i {
  font-size: 18px;
}